body {
    display: flex;
    justify-content: center;
    background-color: #9CAF88;
}
.main {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    background-color: #9CAF88;
}
main::img{
    width: 20px;
}

button {
    border: 2px solid white;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    padding: 0.5rem 1rem; 
    background: #9CAF88;
    color:white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    padding: 1rem 2rem;
}

.container {
    border: white solid;
    width: 476px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10rem;
    background-color: #9CAF88;
}

#logoContainer {
    display: flex;
    font-family: 'Lora', serif;;
    font-size: 45px;
    color: white;
    background-color: #9CAF88;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-content:space-around;  
    padding-top: 100px;
}

.image {
    width: 200px;
    height: 200px;
}

.piece {
    background-color: whitesmoke;
    border: 1px white solid;
    width: 200px;
    height: 200px;
    display: flex;

    align-items: center;
    justify-content: center;
}