body {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    flex-direction: column;
    margin-right: auto;

    
}
main::img{
    width: 20px;
}

button {
    height: 40px;
    width: 50px;
    
}

.container {
    border: white solid;
    width: 486px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10rem;
   
}
#logoContainer{ 
    font: Open-Sans;
    font-size: 30px;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: flex-start;
    padding-top: 10rem;
   
}

.image {
    width: 200px;
    height: 200px;
}

.piece {
    background-color: whitesmoke;
    border: 1px white solid;
    width: 200px;
    height: 200px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.item {
    font-size: 128px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 150px;
    background-color: blue;
    color: #FFF;
    text-align: center;
    user-select: none;
}